@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-accent: #fb6376;
  --clr-white: #f9f5ff;
  --clr-black: #202c39;
  --clr-darkblue: #3778df;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  max-width: 50rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
}
/* navbar start */

a {
  padding: 5px 5px;
  text-decoration: none;
}

.ancord {
  display: flex;
  float: right;
  justify-content: space-between;
  gap: 1.5rem;
  background-color: var(--clr-accent);
  /* font-weight: bold; */
}
.btn {
  border: none;
  color: var(--clr-black);
  background-color: var(--clr-white);
  padding: 5px 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}
.btn-secondery {
  border: none;
  color: whitesmoke;
  background-color: var(--clr-darkblue);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}
